@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
margin: 0;
color: #ccc;
background: #22222a;
xbackground: url(/static/mol1.jpg) no-repeat center center fixed;
xbackground-size: cover;
xbackdrop-filter: blur(100px);
xfilter: blur(8px);
}

.superWrap {
}

div {
font-size: 20px;
}

a {
color: #55f;
color: #ADD8E6;
color: #89CFF0;
text-decoration: none;
}
a:visited {
xcolor: violet;
}
a:hover {
xcolor: white;
text-decoration: underline;
}

.mainMenu {
padding-top: 20px;
}
.mainMenu a {
color: #ccc;
}
.mainMenu a:hover {
text-decoration: underline;
}

h1, h2, h3, h4 {
font-family: 'Helvetica Neue', sans-serif;
xfont-family: 'Permanent Marker';
font-weight: normal;
}

h1 {
font-size: 32px;
}

h4 {
margin-bottom: 0;
}

div, p, li {
font-family: 'Helvetica Neue', sans-serif;
}

.mainWrap {
margin: 0 auto;
max-width: 600px;
xoutline: 1px dotted grey;
backdrop-filter: blur(60px);
padding: 0 50px;
}

.filmList a {
text-decoration: none;
}
.filmList a:hover {
xcolor: white;
text-decoration: underline;
}

.poster {
max-height: 300px;
filter: grayscale(100%);
}

.aka {
xfont-style: italic;
}

.flatList {
  display: inline;
  list-style: none;
  padding: 0;
}
.flatList li {
  display: inline;
}
.flatList li:after {
  content: ", ";
}
.flatList li:last-child:after {
    content: "";
}

.shotBlock {
display: flex;
}
.shot {
width: 100%;
}
.shot2 {
width: 50%;
}

.listPlot {
font-size: 28px;
}

.textBlock {
margin-top: 20px;
}

.textBlock img {
max-width: 100%;
}

audio {
width: 100%;
}